<div class="container-fluid bg-dark bg-opacity-50 min-vh-100">
    <div class="row justify-content-center p-5 gap-5">
        <div class="col-lg-5 col-md-8 col-sm-10 col-12 text-center bg-dark p-5 ">
            <h3 class="text-light">Eduardo Andres Sosa Segovia (Nostro22)</h3>
            <img src="https://github.com/nostro22.png" alt="GitHub profile picture">
        </div>
        
        <div class="col-lg-5 col-md-4 col-sm-10 col-12 bg-dark row justify-content-center align-items-center p-5">
            <a href="https://github.com/nostro22/github-readme-stats">
                <img src="https://github-readme-stats.vercel.app/api?username=nostro22&show_icons=true&theme=dark"
                    alt="Eduardo Andres Sosa Segovia (Nostro22) GitHub stats">
            </a>

            <a href="https://github.com/nostro22/github-readme-stats">
                <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=nostro22&hide_progress=true&theme=dark"
                    alt="Top languages used by Eduardo Andres Sosa Segovia (Nostro22)">
            </a>
        </div>
    </div>
</div>
