<div class="container">
    
  
    <form [formGroup]="formularioRegistroUsuario" (ngSubmit)="logUsuario()">
      <div class="row">
        <div class="col-md-12 mb-5 text-center">
          <h2>Formulario Ingreso</h2>
        </div>
        <div class="d-flex gap-5 justify-content-center">
            <div (click)="accesoRapido()" class="card" style="width: 8rem;">
              <img src="https://github.com/nostro22.png" class="card-img-top" alt="...">
              <div class="card-body bg-primary bg-opacity-50">
                <h5 class="card-title fw-bold">Cuenta Administrador</h5>
              </div>
            </div>
            <div (click)="accesoRapido()" class="card" style="width: 8rem;">
              <img src="https://github.com/nostro22.png" class="card-img-top" alt="...">
              <div class="card-body bg-primary bg-opacity-50">
                <h5 class="card-title fw-bold">Cuenta Administrador</h5>
              </div>
            </div>
            <div (click)="accesoRapido()" class="card" style="width: 8rem;">
              <img src="https://github.com/nostro22.png" class="card-img-top" alt="...">
              <div class="card-body bg-primary bg-opacity-50">
                <h5 class="card-title fw-bold">Cuenta Administrador</h5>
              </div>
            </div>
          </div>
      </div>
      <div class="row formulario">

        <div class="col-md-12 mb-5">
          <label for="email" class="form-label">Email</label>
          <input formControlName="email" type="email" class="form-control" id="email" placeholder="Ingrese email">
          <small *ngIf="formularioRegistroUsuario.controls.email.errors?.['required'] &&
            formularioRegistroUsuario.controls.email.touched" class="invalid">El email es requerido</small>
          <small *ngIf="formularioRegistroUsuario.controls.email.errors?.['email'] &&
            formularioRegistroUsuario.controls.email.touched" class="invalid">
            Formato de mail incorrecto
          </small>
        </div>
        <div class="col-md-12 mb-5">
          <label for="clave" class="form-label">Clave</label>
          <input formControlName="clave" type="password" class="form-control" id="clave" placeholder="Ingrese clave">
          <small *ngIf="formularioRegistroUsuario.controls.clave.errors?.['minlength'] &&
    formularioRegistroUsuario.controls.clave.touched" class="invalid">
            Minimo 6 letras
          </small>
          <small *ngIf="formularioRegistroUsuario.controls.clave.errors?.['required'] &&
            formularioRegistroUsuario.controls.clave.touched" class="invalid">Contraseña es requerido</small>
        </div>
      </div>
      <div class="row">
      
        <div class="col-md-12 d-grid gap-2">
          <button [disabled]="formularioRegistroUsuario.invalid || loading"
            type="submit" class="btn btn-primary btn-block">
            Aceptar
          </button>
        </div>
      </div>
    </form>

    <div *ngIf="loading" class="d-flex justify-content-center mt-2">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    

    


  </div>
