<!-- <h1 class="bg-primary p-5">
  {{usuarioAut | json}}

</h1> -->
<header>
    <div class="px-3 py-2 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <h5>Eduardo Andres Sosa Segovia</h5>
          </a>
  
          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="#" class="nav-link text-secondary">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
                Bienvenido
              </a>
            </li>
            <li *ngIf="!usuarioAut">
              <a  routerLink="usuario/ingreso" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                Ingreso
              </a>
            </li>
            <li *ngIf="usuarioAut">
              <a  (click)="logOut()" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                Cerrar Sección
              </a>
            </li>
            <li *ngIf="!usuarioAut">
              <a routerLink="usuario/registro" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
                Registrarse
              </a>
            </li>
            <li>
              <a routerLink="error" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
                Error
              </a>
            </li>
            <li>
              <a routerLink="actor/alta" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
                Alta Actor
              </a>
            </li>
            <li>
              <a routerLink="pelicula/alta" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
                Pelicula Alta
              </a>
            </li>
            <li>
              <a routerLink="búsqueda" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#búsqueda"/></svg>
                Buscar peliculas
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
   
  </header>
  