<div  class="card" style="width: 18rem;">
  <!-- <h1>{{detalleRecibido |json}}</h1> -->
  <div *ngIf="detalleRecibido" class="card-body">
    <img [src]="detalleRecibido.fotoPelicula" class="card-img-top" alt="...">
    <h5 class="card-title">{{detalleRecibido.nombre}}</h5>
    <p class="card-text"> Tipo: <span class="text-primary">{{detalleRecibido.tipo}}</span></p>
    <p class="card-text"> Fecha de estreno:<span class="text-primary">{{detalleRecibido.fechaDeEstreno}}</span></p>
    <p class="card-text"> Cantida de publico: <span class="text-primary">{{detalleRecibido.cantidadDePublico}}</span>
    </p>
  </div>
  
  <div *ngIf="!detalleRecibido" class="card" style="width: 18rem;">
    <p class="p-5">Selecione una pelicula para ver sus detalles</p>
  </div>
  <a (click)="limpiar()" class="btn btn-primary">Limpiar</a>
</div>